#paneLeft{
    -fx-background-color: #F2F2F2;
}
#paneRight{
    -fx-background-color: #6FBFB7;
}
.text-field{
    -fx-background-radius: 25px;
    -fx-border-radius: 25px;
    /*-fx-border-color: black;*/
}
.button{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-background-color: #D0F2F2;
}
.button:hover{
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #CAF9DF;
    -fx-background-color: #CAF9DF;
}
