@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

#lblBakery{
    -fx-font-family:'Pacifico', cursive;
    -fx-font-size: 48px;
}
#vboxLeft{
    -fx-background-color: #6FBFB7;
}
#conTainPane{
    -fx-background-color: #D0F2F2;
}
.button{
    -fx-background-color: #6FBFB7;
}
#btnBuy{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
#btnBuy:hover{
    -fx-background-color: #CAE0F9;
}
.button:hover{
    -fx-background-color: #D0F2F2;
}
.Label{
    -fx-font-family: 'Alexandria', sans-serif;
}
.pane{
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}
#pane1:hover{
    -fx-background-color: #B2D0DB;
}
#btnCart{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
}